.grid-level {
  fill: none;
  stroke: var(--radar-web);
  stroke-width: 1;
}

.grid-level-inner {
  fill: none;
  stroke: #0fb86b;
  stroke-width: 1;
  opacity: 0.15;
}

.radar-chart-component {
  font-family: "Roboto", sans-serif;
}

.outer-level {
  stroke: var(--radar-web);
  stroke-width: 1.5;
  stroke-dasharray: 0;
}

.radar–number–circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radial-line {
  stroke: var(--radar-web);
  stroke-width: 1;
}

.radial-line-inner {
  stroke: #0fb86b;
  stroke-width: 1;
  opacity: 0.15;
}

.vertex-circle {
  fill: var(--bg-secondary);
  stroke: var(--radar-grid);
  stroke-width: 1.5;
}

.vertex-label {
  font-size: 10px;
  font-weight: 500;
  fill: var(--radar-number);
  text-anchor: middle;
  font-family: "Roboto", sans-serif;
}

.score-area {
  animation: fadeIn var(--duration) ease-out forwards;
  animation-delay: var(--delay);
  transform-origin: center;
  opacity: 0;
  /* mix-blend-mode: color-burn; */
}

[data-theme="dark"] .score-area {
  mix-blend-mode: hard-light !important;
}

.score-point {
  animation: moveFromCenter var(--duration) ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveFromCenter {
  from {
    cx: var(--start-x);
    cy: var(--start-y);
  }
  to {
    cx: var(--target-x);
    cy: var(--target-y);
  }
}
