.profile-section {
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid var(--border-color);
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

/* Move shine effect to the entire profile section */
.profile-section::after {
  content: "";
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.118) 5%,
    rgba(255, 255, 255, 0.077) 25%,
    transparent 70%
  );
  background-size: 200% 100%;
  animation: shine 6s ease infinite;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-image {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--border-color);
  background-color: var(--bg-secondary);
  padding: 6px;
}

.profile-image img {
  width: 110%;
  height: 120%;
  object-fit: contain;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-details h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
  line-height: 18px;
}

.user-rank {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
}

.user-rank i {
  font-size: 12px;
}

.goal-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
  position: relative;
}

.goal-header {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text-primary);
  opacity: 0.7;
}

.goal-header i {
  color: var(--text-primary);
}

.goal-score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 0;
}

.crown-left,
.crown-right {
  height: 62px;
  width: auto;
  opacity: 0.85;
  filter: drop-shadow(0 1px 2px rgba(255, 215, 0, 0.3));
}

.crown-left {
  transform: translateX(6px);
}

.crown-right {
  transform: translateX(-6px);
}

.goal-score {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: var(--text-primary);
  line-height: 32px;
  background: linear-gradient(45deg, #ff6b6b, #ffd700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  cursor: pointer;
  width: 90px;
  text-align: center;
  transition: transform 0.2s ease;
}

.goal-score:hover {
  transform: scale(1.05);
}

.goal-score-input {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  width: 90px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 2px dashed var(--border-color);
  color: var(--text-primary);
  outline: none;
  padding: 0;
  background: linear-gradient(45deg, #ff6b6b, #ffd700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  caret-color: #727272;
  caret-shape: block;
}

.goal-score-input:focus {
  border-bottom: 3px solid #eae8e8;
}

.goal-score-input::selection {
  background-color: rgba(203, 200, 200, 0.208);
  color: var(--text-primary);
}

.goal-score-input::-moz-selection {
  background-color: rgba(203, 200, 200, 0.208);
  color: var(--text-primary);
}

.score-range {
  font-size: 12px;
  color: var(--text-primary);
  opacity: 0.5;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1044px) {
  .profile-section {
    margin-bottom: 12px;
    min-width: 250px;
  }
}
