.predicted-score-container {
  order: -1;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 12px;
  /* margin-top: 24px; */
  box-shadow: rgba(0, 0, 0, 0.12) -0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.score-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  gap: 0px;
}

.score-header h3 {
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 21px;
}

.score-header h3 i {
  color: #ffd700; /* Golden color for crown */
  font-size: 14px;
  transition: transform 0.2s ease;
}

/* Add jiggle animation */
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.score-header h3:hover i {
  animation: jiggle 0.5s ease;
  transform-origin: bottom center;
}

.score-details {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-label {
  font-size: 12px;
  color: var(--text-primary);
  opacity: 0.7;
}

.score-label.total {
  font-size: 18px;
  font-weight: 600;
}

.score-value {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.score-value.verbal {
  color: var(--text-primary);
}

.score-max-min {
  font-weight: 400;
  color: #b4b4b4;
}
.digital-sat {
  background-color: var(--bg-primary);
  border: 2px solid var(--text-primary);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  color: var(--text-primary);
  margin-bottom: 4px;
}

.score-value.math {
  color: var(--text-primary);
}

.predicted-flex {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.score-item.predicted {
  /* padding-left: 24px; */
  gap: 12px;
  flex-direction: row;
  justify-content: flex-end;
  /* border-left: 1px solid var(--border-color); */
}

.score-header-gap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.score-item.predicted .score-value {
  /* color: #0fb86b; */
  background-image: -webkit-linear-gradient(
    to right,
    #d63e2e,
    #8e44ad
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #c0392b,
    #8e44ad
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 40px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1044px) {
  .score-item.predicted {
    justify-content: flex-end;
    gap: 16px;
  }
}

.score-header-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

/* @media (max-width: 1144px) {
  .predicted-score-container {
    width: fit-content;
  }
  .score-header {
    flex-direction: row;
  }
}

/* Update chart container shadow */
.chart-container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Match the shadow style */
}
