.predicted-score-container {
  order: -1;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 12px;
  /* margin-top: 24px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Softer shadow */
}

.score-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.score-header h3 {
  margin-bottom: auto;
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.score-header h3 i {
  color: #ffd700; /* Golden color for crown */
  font-size: 14px;
}

.score-details {
  display: flex;
  gap: 24px;
  align-items: center;
}

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.score-label {
  font-size: 12px;
  color: var(--text-primary);
  opacity: 0.7;
}

.score-value {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-primary);
}

.score-value.verbal {
  color: var(--verbal-color);
}

.score-value.math {
  color: var(--math-color);
}

.score-item.predicted {
  padding-left: 24px;
  border-left: 1px solid var(--border-color);
}

.score-item.predicted .score-value {
  color: #0fb86b;
  font-size: 24px;
}

@media (max-width: 1144px) {
  .predicted-score-container {
    /* width: 70%; */
  }
}

@media (max-width: 1144px) {
  .predicted-score-container {
    width: fit-content;
  }
  .score-header {
    flex-direction: row;
    /* gap: 20px; */
  }
}

/* Update chart container shadow */
.chart-container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Match the shadow style */
}
